# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["routing"]["lo"]}}

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{% if node[inventory_hostname].routing.bgp.underlay.external.peers is not none %}
{% for interface in node[inventory_hostname]["routing"]["bgp"]["underlay"]["external"]["peers"] %}
auto {{interface}}
iface {{interface}}
{% endfor -%}
{% endif -%}
